body {
  background-color: yellow; }

@media (min-width: 420px) {
  body {
    background-color: white; } }

.container .sidebar, .container section {
  background-color: black;
  text-align: center;
  line-height: 20em;
  margin-top: 0.5em;
  color: white; }

.container section {
  background-color: blue; }

@media (min-width: 600px) {
  .container > * {
    display: inline-block;
    min-height: 24em; }
  .container .sidebar, .container section {
    min-width: 30%;
    float: left; }
  .container section {
    width: 70%;
    float: right; } }
