body {
  background-color: yellow;
}
@media (min-width: 420px) {
  body {
    background-color: white;
  }
}

.container {
  .sidebar {
    background-color: black;
    text-align: center;
    line-height: 20em;
    margin-top: 0.5em;
    color: white;
  }
  section {
    @extend .sidebar;
    background-color: blue;
  }
}

@media (min-width: 600px) {
  .container {
    &>*{
      display: inline-block;
      min-height: 24em;
    }
    .sidebar {
      min-width: 30%;
      float: left;
    }
    section {
      width: 70%;
      float: right;
    }
  }
}