* {
  margin: 0;
  padding: 0;
}

body {
  background: #E6474A;
  font-family: 'Roboto', sans-serif;
}

.header {
  background: #52364A;
}

.header__container {
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
  padding: 40px 0;
}

.header__navigation {
  list-style: none;
}

.header__list-item {
  display: inline-block;
  margin-left: 40px;
}

.header__link {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #E6474A;
  text-decoration: none;
}
