$grid-columns: 12;

%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper, .row {
  @extend %clearfix;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}


@for $i from 1 through $grid-columns {

  .column-#{$i} {
    width: 100% / $grid-columns * $i;
  }

}



//%col-all {
//  float: left;
//  min-height: 1px;
//  box-sizing: border-box;
//}
//
//.container {
//  width: 100%;
//  max-width: 1200px;
//  margin: 0 auto;
//
//
//
//  .row:before, .row:after {
//    content: "";
//    display: table;
//    clear: both;
//  }
//
//  // https://stackoverflow.com/questions/19038799/why-is-there-an-unexplainable-gap-between-these-inline-block-div-elements
//  .row {
//    display: flex;
//
//    @for $i from 1 through 12 {
//      .col-#{$i} {
//        width: percentage($i / 12);
//        display: inline-block;
//        box-sizing: content-box;
//        //  for tests
//        //border: 1px solid red;
//        //min-height: 20px;
//        //margin: 0;
//        //  for tests
//      }
//    }
//
//  }
//
//}
//
//
//.h-1 { min-height: 1em; }
//.h-3 { min-height: 3em; }
//
//.bg-dark-blue {
//  background-color: #7e388b;
//}
//
//.m-t-05 {
//  margin-top: 0.5em;
//}
//.m-b-05 {
//  margin-bottom: 0.5em;
//}
//
//.bg-blue {
//  background-color: blue;
//}
//
//.bg-yellow {
//  background-color: yellow;
//}
//
//.border {
//  border: 1px solid black;
//}
//
