* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.navigation {
  background: #eee;
  text-align: center;
}

.navigation__list {
  padding: 20px;
  list-style: none;
}

.navigation__item {
  display: inline-block;
  margin-right: 350px;
  padding: 20px;
  border:1px solid red;
}

.navigation__link {
  color: black;
  text-decoration: none;
}
